@import url('https://fonts.googleapis.com/css?family=Work+Sans:300, 600, 900');
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background: lightgreen;
}

.starter-template {
  text-align: center;
}

.container {
  height: 100vh;
}

#content {
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

#login-button, #logout-button {
  margin: 1rem;
}

#loggedin img {
  margin: 0 auto;
}

.artist {
  text-align: left;
  margin: 1rem;
}

.artist img {
  object-fit: cover;
}

#splash {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

strong {
  font-size: 1.5rem;
}

#tagline {
  font-size: 4rem;
  font-weight: 600;
}

.artist-container {
  height: 30vh;
  text-align: left;
}

.artist-name:hover {
  cursor: pointer;
}

#title {
  font-size: 10rem;
  font-weight: 900;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 900;
}

.nav {
  margin: 0, auto;
}

 .prof-pic {
  width: 3rem;
  height: 3rem;
  position: static;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.prof-pic img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.prof-pic img:hover {
  cursor: pointer;
}

.artist-pic {
  width: 4rem;
  height: 4rem;
  position: static;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: .5rem;
}

.artist-pic img:hover {
  cursor: pointer;
}

.artist-pic img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.dropdown {
  text-align: center;
}

.righttop{
  display: inline;
}

.row {
  width: 100%;
}
